.label {
    display: inline-block;
}

.margin-align {
    margin: 10px 0 20px;
}

.header {
    padding: 15px;
    background: #17181f;
    margin: 0;
    color: #fb556a;
}

.titles-list-section-parent {
    position: relative;
}

.titles-list-section {
    transition: all linear 0.5s;
    background-color: transparent;
    height: 50px;
    width: 250px;
    position: absolute;
    top: 0;
    left: 50px;
}

.ng-hide {
    height: 0;
    width: 100px;
    background-color: transparent;
    top: -200px;
    left: 200px;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #31899e;
    color: #fff !important;
}

.modal-header-bg {
    background: #6a72bb;
}

.label {
    display: inline-block;
    padding: .5em .9em .3em;
    font-size: 85%;
    font-weight: normal;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .15em;
}

.label-custom {
    background-color: #e68787;
}

.modal-footer {
    padding: 10px 15px;
}