.label {
    display: inline-block;
}

.margin-align {
    margin: 10px 0 20px;
}

.header {
    padding: 15px;
    background: #17181f;
    margin: 0;
    color: #fb556a;
}

.titles-list-section-parent {
    position: relative;
}

.titles-list-section {
    transition: all linear 0.5s;
    background-color: transparent;
    height: 50px;
    width: 250px;
    position: absolute;
    top: 0;
    left: 50px;
}

.ng-hide {
    height: 0;
    width: 100px;
    background-color: transparent;
    top: -200px;
    left: 200px;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #31899e;
    color: #fff !important;
}


/*.label {
    border-radius: 0;
    text-shadow: none;
    font-size: 12px;
    font-weight: normal;
    padding: 3px 5px 3px;
    margin: 2px;
    cursor: pointer;
    display: inline-block;
    background-color: #8283a2 !important
}*/