<!doctype html>
<html ng-app="app">

<head>
    <title>Angularjs Todo App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!--<script src="jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <div class="container">
        <div ng-controller="MainController">
            <h1>{{title}}</h1>
            <div class="row">
                <div class="col-lg-12">
                    <h3>About Charecters </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group">
                        <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                        </span>
                        <input type="text" class="form-control" ng-model="searchInput">
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3 col-sm-6" ng-repeat="character in characters | filter:searchInput">
                    <div class="thumbnail">
                        <img src="http://placehold.it/400x200" alt="">
                        <div class="caption">
                            <h4>{{character.name}}</h4>
                            <p class="label label-success">{{character.gender}}</p>


                            <p>
                                <a href="#" class="btn btn-primary btn-xs">Titles Info</a> <a href="#" class="btn btn-default btn-xs">About TV Series</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row end -->

        </div>
    </div>
</body>

</html>